<div class="read-more">
  <div class="read-more-header">
    <a href="https://facebook.com/dylan.cormack.1" class="read-more-btn">About the Author</a>
  </div><!-- /.read-more-header -->
  <div class="read-more-content author-info">
    <h3>Dylan Cormack</h3>
    <div class="author-container">
      <img class="author-img" src="{{ site.url }}/images/profiles/dylan.png" alt="https://facebook.com/dylan.cormack.1" />
      <div class="author-bio">
        <p>Dylan is our political correspondent, bold and fiery as his fuse is short. He is a well-read, <i>on-location</i> kind of writer and is no stranger to travel. Intimately familiar with many distant and dark corners of the Earth, Dylan brings a new kind of blood to his vicious style of journalism. He sends us his words, notes and effusive rants of observation, commentary and occasional judgement.</p>
      </div>
    </div>
    <div class="author-share">
      <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/dylan.cormack.1" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
      </ul>
      <br>
        <a href="https://twitter.com/birdular" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @b</a>birdular
    </div>
  </div>
</div>
