<div class="read-more">
  <div class="read-more-header">
    <a href="https://facebook.com/oscarbjorne" class="read-more-btn">About the Author</a>
  </div><!-- /.read-more-header -->
  <div class="read-more-content author-info">
    <h3>Oscar Bjørne</h3>
    <div class="author-container">
      <img class="author-img" src="{{ site.url }}/images/profiles/oscar.png" alt="https://facebook.com/oscarbjorne" />
      <div class="author-bio">
        <p>Oscar’s day job consists of saying & writing banter for which corporate executives pay outrageous amounts to shelve and ignore. He’s a consultant at one of the largest software firms in the world, and his clients are in major capitals all over the globe. From São Paulo to Prague, from Oslo to Riyadh, Oscar lends us his notes on travel, corporate life, fast adventures and a company dime.</p>
      </div>
    </div>
    <div class="author-share">
      <ul class="list-inline social-buttons">
          <li><a href="https://facebook.com/oscarbjorne" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
      </ul>
      <br>
        <a href="https://twitter.com/birdular" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @b</a>birdular
    </div>
  </div>
</div>
