<div class="card">
  {% for post in site.related_posts limit:1 %}
    <div class="card-header">
      <a href="{{ site.url }}{{ page.previous.url }}" class="card-btn">Read More</a>
    </div><!-- /.card-header -->
    <div class="card-content">
      <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
      <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 140 }}&hellip;{% endif %} <a href="{{ site.url }}{{ post.url }}">Continue reading</a></p>
    </div><!-- /.card-content -->
  {% endfor %}
  <div class="card-list">
    {% for post in site.related_posts limit:2 offset:1 %}
      <div class="list-item">
        <h4><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
        <span class="entry-meta">Published on {{ post.date | date: "%B %d, %Y" }}</span>
      </div><!-- /.list-item -->
    {% endfor %}
  </div><!-- /.card-list -->
</div><!-- /.card -->