<div class="read-more">
  <div class="read-more-header">
    <a href="{{ site.url }}" class="read-more-btn">Legal Stuff</a>
  </div><!-- /.read-more-header -->
  <div class="read-more-content author-info">
    <div class="author-container">
      <div class="legal">
      	<p><b>Written Rhetoric</b> is <span class="uc"><i>not</i></span> collecting your information. If we ever get your information it will be because you gave it to us and the purpose will be very clear. If that happens we will not use your information for any purpose other than what we tell you, and certainly not for any kind of marketing, nor will we sell your information to any third parties. <i>Seriously.</i></p>
      </div>
    </div>
  </div>
</div>
